mqtt:
  enabled: True
  host: {{ mqtt_host }}
  port: {{ mqtt_port }}
  user: {{ mqtt_user }}
  password: {{ mqtt_password }}

# currently having issues with hwaccel
# ffmpeg:
#   hwaccel_args: preset-vaapi

detectors:
  ov:
    type: openvino
    device: AUTO
    model:
      path: /openvino-model/ssdlite_mobilenet_v2.xml

model:
  width: 300
  height: 300
  input_tensor: nhwc
  input_pixel_format: bgr
  labelmap_path: /openvino-model/coco_91cl_bkgr.txt

birdseye:
  enabled: True
  mode: continuous

go2rtc:
  streams:
    cctv-front:
      - rtsp://{{ frigate_user }}:{{ frigate_password }}@cctv-front.int.moras.uk:554/h264Preview_01_main
      - "ffmpeg:cctv-front"
    cctv-side:
      - rtsp://{{ frigate_user }}:{{ frigate_password }}@cctv-side.int.moras.uk:554/h264Preview_01_main
      - "ffmpeg:cctv-side"
    cctv-rear:
      - rtsp://{{ frigate_user }}:{{ frigate_password }}@cctv-rear.int.moras.uk:554/h264Preview_01_main
      - "ffmpeg:cctv-side"

cameras:
  cctv-front:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/cctv-front
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://{{ frigate_user }}:{{ frigate_password }}@cctv-front.int.moras.uk:554/h264Preview_01_sub
          roles:
            - detect
    detect:
      width: 640
      height: 360
      fps: 4
    record:
      enabled: True
      retain:
        days: 7
        mode: motion
      events:
        retain:
          default: 7
          mode: active_objects
    zones:
      driveway:
        coordinates: 127,360,462,360,274,183,437,142,465,120,463,91,259,109,84,137
      front-door:
        coordinates: 219,189,269,260,112,299,95,211
        objects:
        - person
    motion:
      mask:
        - 546,56,640,102,640,0,355,0
  cctv-side:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/cctv-side 
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://{{ frigate_user }}:{{ frigate_password }}@cctv-side.int.moras.uk:554/h264Preview_01_sub
          roles:
            - detect
    detect:
      width: 640
      height: 360
      fps: 4
    record:
      enabled: True
      retain:
        days: 7
        mode: motion
      events:
        retain:
          default: 28
          mode: active_objects
  cctv-rear:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/cctv-rear 
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://{{ frigate_user }}:{{ frigate_password }}@cctv-rear.int.moras.uk:554/h264Preview_01_sub
          roles:
            - detect
    detect:
      width: 640
      height: 360
      fps: 4
    record:
      enabled: True
      retain:
        days: 7
        mode: motion
      events:
        retain:
          default: 28
          mode: active_objects
    motion:
      mask:
        - 0,102,490,43,491,0,0,0