---
###############################################################
#                   Authelia configuration                    #
###############################################################

server.host: 0.0.0.0
server.port: 9091
log.level: info
theme: dark
# This secret can also be set using the env variables AUTHELIA_JWT_SECRET_FILE
jwt_secret: "{{ authelia_jwt_secret }}"
default_redirection_url: https://{{ authelia_url }}
totp:
  issuer: {{ root_domain }}

# duo_api:
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  # This secret can also be set using the env variables AUTHELIA_DUO_API_SECRET_KEY_FILE
#  secret_key: 1234567890abcdefghifjkl

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 64

session:
  name: authelia_session
  # This secret can also be set using the env variables AUTHELIA_SESSION_SECRET_FILE
  secret: unsecure_session_secret
  expiration: 3600  # 1 hour
  inactivity: 300  # 5 minutes
  domain: {{ root_domain }}  # Should match whatever your root protected domain is

  # redis:
  #   host: redis
  #   port: 6379
  #   # This secret can also be set using the env variables AUTHELIA_SESSION_REDIS_PASSWORD_FILE
  #   # password: authelia

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  local:
    path: /config/db.sqlite3
  encryption_key: {{ authelia_encryption_key }}

notifier:
  # smtp:
  #   username: test
  #   # This secret can also be set using the env variables AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE
  #   password: password
  #   host: mail.example.com
  #   port: 25
  #   sender: admin@example.com
  filesystem:
    filename: /config/notification.txt

identity_providers:
  oidc:
    hmac_secret: {{ authelia_hmac_secret }}
    issuer_certificate_chain:
      {{ authelia_issuer_certificate_chain }}
    issuer_private_key:
      {{ authelia_issuer_private_key }}
    access_token_lifespan: 1h
    authorize_code_lifespan: 1m
    id_token_lifespan: 1h
    refresh_token_lifespan: 90m
    enable_client_debug_messages: false
    enforce_pkce: public_clients_only
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins_from_client_redirect_uris: true
    clients:
{% for client in authelia_oidc_clients %}
      - id: {{ client.id }}
        description: {{ client.description }}
        secret: {{ client.secret }}
        public: {{ client.public }}
        authorization_policy: {{ client.authorization_policy }}
        consent_mode: {{ client.consent_mode }}
        pre_configured_consent_duration: {{ client.pre_configured_consent_duration }}
        scopes:
{% for scope in client.scopes %}
          - {{ scope }}
{% endfor %}
        redirect_uris:
{% for redirect in client.redirect_uris %}
          - {{ redirect }}
{% endfor %}
        grant_types:
{% for grant in client.grant_types %}
          - {{ grant }}
{% endfor %}
        response_types:
{% for rt in client.response_types %}
          - {{ rt }}
{% endfor %}
        response_modes:
{% for rm in client.response_modes %}
          - {{ rm }}
{% endfor %}
        userinfo_signing_algorithm: {{ client.userinfo_signing_algorithm }}
{% endfor %}

...